body
{
	background-color: #AA5522;
}

.prueba
{
	
	color: #FFF;
	font-size: 70px;
}

/*
Formas básicas
Nombre 16 colores básicos: 	red back Navy Blue Teal Silver Aqua Gray Yellow Lime fuchsia purple etc
Hexadecimal:				#000000
Hexadecimal Corto 			#000
*/